:root {
    font-family: 'Roboto', 'sans-serif', 'Avenir', 'Helvetica', 'Arial';
    --h1-font-size: 32px;
    --h2-font-size: 16px;
    --h3-font-size: 13px;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: 700;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: 600;
}

h3 {
    font-size: var(--h3-font-size);
    font-weight: 600;
}